.game {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	margin: 0.25rem auto;
}
.target {
	border: thin solid #999;
	width: 300px;
	height: 75px;
	font-size: 45px;
	text-align: center;
	display: inline-block;
	background-color: #ccc;
}
.challenge-numbers {
	width: 100%;
	margin: 1.5rem auto;
	display: inline-block;
}

.footer {
	display: flex;
	width: 9%;
	justify-content: space-between;
}
.timer-value {
	color: darkgreen;
  font-size: 150%;
  margin: 20px;
}
